body {
    background-color: black;
   
    font-family: Helveticalalala;
    font-size: 22p;
    padding: 20px;
}

h1 {
    color: rgb(250,204,2); /* rgb value */
    text-align: center;
}

.big_div {
    display: flex;
    order: 0;
    border: 10px solid rgb(250,204,2); /* hex value */
    margin: 30px;
    padding: 20px;
    
}
p{
    color: white;
}
.pokemon_name {
    text-align: center;
    font-size: 150;
    font: bold;
    margin: 10px;
}
.sub_div {
    display: flex;
    order: -1;
    
}

img {
    width: 250;
    padding-right: 50px;
}

#special {
    font-weight: cold;
    color: 255, 203, 5; /* rgb value */
}