/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

_________ {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 -
   #2 - 
   #3 - 
   #4 -
   #5 -

   e.g. - .pika               */